@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html {
  box-sizing: border-box;
  background-color:var(--gcolor);
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  --gcolor:rgb(245,245,247);
}

html, body, header, nav, ul, li, main, article, section, figure, iframe, footer, img {
  margin:0;
  padding:0;
  font-family: "Baloo",sans-serif;
  list-style-type: none;
}

a {
  text-decoration:none;
  color:black;
}

a:hover {
  text-decoration: underline;
}

#header {
  width:100%;
  padding:1em;
  background-color:#333333;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  left:0;
  z-index: 999;
}

#header a, #nav-bar a {
  color:var(--gcolor);
  opacity:0.8;
  transition: opacity 0.3s ease-in-out;
}

#header a:hover, #nav-bar a:hover {
  opacity: 1;
  text-decoration: none;
}

#header #header-img, #header #nav-bar{
  display:none;
  height:0;
  width:0;
}

.product {
  padding:2rem 1rem;
  min-height: 100vh;
  text-align: center;
  display:flex;
  flex-direction: column;
}

.product .product-img {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#iphone, #macbook, #airpods {
  padding-top:6rem;
}

.iphone {
  background-color: #131313;
  color:var(--gcolor);
}

.macbook {
  background-color:rgb(250,250,250);
  color:black;
}

.airpods {
  background-color:black;
  color:var(--gcolor);
}

.main-info {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.product h2 {
  margin:0.5rem;
  font-weight: 600;
  font-size: calc(1.5rem + 3vw);
}

.product p {
  margin:0;
  font-size:calc(1rem + 0.8vw);
}

.main-info .other-payment {
  margin:0.5rem;
  color:gray;
  font-size:calc(0.75rem + 0.8vw);
}

.extra-info {
  margin:0.4rem;
  display:flex;
  justify-content:center;
}

.extra-info p:last-child {
  margin-left:2rem;
}

.extra-info a, .extra-info span {
  color:rgb(41,151,255);
}

.extra-info span {
  margin-left:10px;
}

.product-img img {
  max-width:100%;
  height:auto;
}

#video-wrapper {
  height:100vh;
  position: relative;
}

#video {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

.support.product > section:first-child {
  flex:1 1 50vh;
  display: flex;
  flex-flow: row wrap;
}

.support.product section:first-child > * {
  flex:1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support.product, footer {
  padding:2rem 1.5rem;
}

#form input {
  padding:0rem 0.9375rem;
  height:2.625rem;
  font-size:1.0625rem;
  line-height: 1.3;
  background-color:rgb(255,255,255);
  color:rgb(49,49,49);
  border:0.09375rem solid rgb(200,200,200);
  border-radius:0.375rem;
}

#form input:focus {
  outline:0;
}

#form {
  position: relative;
}

#form input[type="submit"] {
  position: absolute;
  top:0;
  right:0;
}

#t-and-c > *, .contact-apple, .footer-legal {
  font-size:0.8rem;
  text-align:justify;
  color:rgb(134,134,139);
}

#t-and-c a {
  color:rgb(81,81,84);
}

.contact-apple {
  padding-bottom: 0.7rem;
  border-bottom:1px solid #d2d2d7;
}

.contact-apple a {
  color:#06c;
}

.footer-legal {
  display: flex;
  flex-flow: row wrap;
}

.footer-legal > * {
  flex:1 1 100%;
  margin:5px 0px 5px 0px;
}

.footer-legal-copyright {
  margin-right:20px;
}

.footer-legal-links ul {
  display: flex;
  flex-flow: wrap;
}

.footer-legal-links li {
  margin-right:7px;
  padding-right:10px;
  border-right:1px solid #d2d2d7;
}

.footer-legal-links li:last-child {
  border:0;
  margin-right:0;
}

.footer-legal-links a {
  display: inline-block;
  width:100%;
  color:rgb(51,51,54);
}

.footer-country a {
  color:rgb(51,51,54);
}

@media all and (min-width:688px) {

  .extra-info p {
    font-size:calc(1rem + 0.7vw);
  }

  .support.product section:first-child > * {
    flex-basis:50%;
  }

  .support.product, footer {
    padding:2rem 2rem;
  }

  #header > a {
    display: none;
    height:0;
    width:0;
  }

  #header {
    padding:0.5em;
    display: flex;
    justify-content: center;
  }

  #header #nav-bar {
    display:block;
    width:75%;
    height: auto;
  }

  .apple-logo-nav {
    font-size:1.5rem;
  }

  #header #nav-bar ul {
    font-size:1.0625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media all and (min-width:850px) {

  .main-info .other-payment {
    font-size:calc(0.75rem + 0.7vw);
  }

  .support.product, footer {
    padding:2rem 3rem;
  }

  .footer-legal > * {
    flex: 0 1 auto;
  }

  .footer-legal-links {
    flex-grow:1;
  }

}

@media all and (min-width:1050px){

  .main-info .other-payment {
    font-size:calc(0.75rem + 0.6vw);
  }

  .extra-info p {
    font-size:calc(1rem + 0.6vw);
  }

  .support.product, footer {
    padding:2rem 5rem;
  }
}

@media all and (min-width:1250px){

  .main-info .other-payment {
    font-size:calc(0.7rem + 0.5vw);
  }

  .extra-info p {
    font-size:calc(1rem + 0.5vw);
  }

  .support.product, footer {
    padding:2rem 8rem;
  }
}
